.charge {

    margin: auto;
    margin-left: 1650%;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    text-align: center;
    padding-top: 70%;
    height: 100px;
    width: 100px;
}

.spinner {
    --size-of-spinner: 70px;
    --spinner-border-width: 4px;
    --spinner-color: #08c18a;
    --circle-color: #8bc34a24;
    --speed-of-animation: 2s;
    --scale: 1.6;
    width: var(--size-of-spinner);
    height: var(--size-of-spinner);
    background: var(--circle-color);
    border-radius: 50%;
    position: relative;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: white;
    color: rgb(8, 64, 19);
    border-radius: 20px;
    /* justify-content: center; */
    align-items: stretch;
   }

   .spinner::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    inset: 0;
    border: var(--spinner-border-width) solid var(--spinner-color);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spinny var(--speed-of-animation) linear infinite;
    justify-content: center;
   }

   @keyframes spinny {
    0% {
     transform: rotate(0deg) scale(1)
    }

    50% {
     transform: rotate(45deg) scale(var(--scale))
    }

    100% {
     transform: rotate(360deg) scale(1)
    }
   }

   @media screen and (max-width: 480px) {
    .charge {

        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 2%;
        margin-bottom: 4rem;
        text-align: center;
        padding-bottom: 6rem;
        margin-top: 120%;
    }
    .spinner {
        --size-of-spinner: 60px;
        --spinner-border-width: 4px;
        --spinner-color: #08c18a;
        --circle-color: #8bc34a24;
        --speed-of-animation: 2s;
        --scale: 1.3;
        width: var(--size-of-spinner);
        height: var(--size-of-spinner);
        background: var(--circle-color);
        border-radius: 50%;
        position: relative;
        font-size: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-shadow: white;
        color: rgb(8, 64, 19);
        border-radius: 20px;
        /* justify-content: center; */
        align-items: stretch;
       }
    
   }